/* Estilização Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    min-height: 100%;
    background-color: #E4E2CE;
  } 
  a {
    color: var(--white);
    text-decoration: none;
  }

  #border_total{
    border: 2px solid #43413B;
    margin: 3% 2%;
    padding: 3%;
  }

  /*HEADER - TÍTULO*/
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2%;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
    padding: 0.5rem 1rem;
  }
  b{
    margin-left: 1rem;
    background-color: #f3f3f3;
    padding: 0.5rem 1rem;
  }

   /*SECTION - PRIMEIRO RETÂNGULO*/
   /* Estilos para os retângulos */
   .retangulo1 {
    width: 65.5%;
    height: 3.125rem;
    background: #706B68;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    cursor: pointer;
    margin: auto;
  }
  .retangulo2 {
    width: 65.5%;
    height: 3.125rem;
    background: #706B68;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    position: relative;
    cursor: pointer;
    margin: auto;
  }
  
  /* Estilos para o texto */
  .titulo {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    line-height: 30px;
    color: #E4E2CD;
  
  }
  
  /* Estilos para a seta */
  .seta {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    right: 30px;
    transform: rotate(90deg);
  }
  
  /* Estilos para a aba */
  .aba {
    margin: auto;
    width: 65.5%;
    padding: 20px;
    background: #E1DAD4;
  }
  .box_form{
    display: flex;
    justify-content: space-between;
  }

  #nome, #estado_cliente{
    width: 45%;
  }
  #email{
    width: 45%;
  }
  #cpf, #cidade_cliente{
    width: 45%;
  }


  /* Fotter - logos */
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer .hastag{
    width: 10rem;
    height: fit-content;
    background-size: cover;
  }
  footer .tre{
    width: 3.5rem;
    height: fit-content;
    background-size: cover;
  }